#projectDescription {
    width: 85% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}

.titleObjectif {
    color: black;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Paris2024 Semibold";
    position: relative;
    display: flex;
    align-items: center;
}

.titleObjectif::after {
    content: "IPSSI";
    text-transform: uppercase;
    font-family: "Paris2024 Semibold";
    font-size: 5.2em;
    position: absolute;
    left: 0;
    margin-left: -20px;
    letter-spacing: -15px;
    -webkit-text-stroke: 2px #6e6e6e;
    color: transparent;
    opacity: 0.3;
}

.descriptionObjectif {
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
}

/* CSS : SECTION CARD  */
#team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.imgTeam {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 50%;
}

.teamContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: 4em;
    position: relative;
    row-gap: 24px;
    width: 70% !important;
    padding: 2em;
}

.teamNames {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Paris2024 Semibold";
    z-index: 10;
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 70px;
}

.cardContainer {
    width: 100%;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 6fr);
    gap: 30px;
    height: auto;
    justify-content: center;
    z-index: 3;
    width: 85% !important;
    margin: auto;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border-radius: 20px !important; */
    border: 6px solid white !important;
    overflow: hidden;
    transition: 0.8 ease-in-out;
    margin: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, .12);
}

.avatarContainer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.avatarContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    padding-bottom: 0.9em;
}

.nameMember {
    font-family: "Paris2024 Semibold";
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1em;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 90%;
}

.mission {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


/* CSS : SECTION FEEDBACK */
#projectFeedback {
    width: 85% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 3rem;
    padding-bottom: 6rem;
    margin: auto;

}

.sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Paris2024 Semibold";

}

.titleFeedback::after {
    content: "HACKATHON";
    text-transform: uppercase;
    font-family: "Paris2024 Semibold";
    font-size: 4.2em;
    position: absolute;
    left: 0;
    letter-spacing: -15px;
    -webkit-text-stroke: 2px #FBA9CB;
    /* text-shadow: 1px 1px 0 #111111, 3px 3px 0 #111111, 5px 5px 0 #111111, 7px 7px 0 #111111; */
    color: transparent;
    opacity: 0.2;
    margin-left: -20px;
    stroke-width: 2px;
    stroke-dasharray: 4;
    /* This creates the dotted effect */
    opacity: 0.2;
}

.descriptionFeedback {
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    padding-top: 1.4rem;
}

.logoJO {
    width: 150px;
}

.descriptionFeedback a {
    text-decoration: none;
}