#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #022366;

    .pinkLine {
        width: 100%;
        background-color: #FBA9CB;
        height: 8px;
    }

    .container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        color: white;

        .copyright {
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center !important;
            padding-top: 1.08rem;
            padding-bottom: 1.08rem;

            .descriptionFooter {
                font-family: 'Paris2024';
                font-weight: 400;
                font-size: 0.9rem;
                width: fit-content !important;
                margin-bottom: 0px !important;
            }

            .description1 {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 0.9rem;
                margin-bottom: 0px !important;
            }
        }
    }
}