// Initial Nav
.initialNavbar {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    height: 75px;
    z-index: 10;
    transition: all 0.8s ease-in-out;
    // background-color:  white;
    // border-top: 4px #d7c378 solid;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(16px);
    background-color: hsla(224, 92%, 20%, 0);

    // backgroundColor : #022366
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        position: relative;
        align-items: center;
        border-bottom: 1px #B1B1B1 solid;

        .logo {
            position: absolute;
            margin: auto;
            bottom: -39px;
            height: 80%;
        }

        .linkContainer {
            display: flex;
            align-items: center;
            gap: 24px;
            height: 100%;

            .link {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 0.92rem;
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(19, 19, 19);
                padding-left: 10px;
                padding-right: 10px;

                &:hover {
                    font-weight: 800;
                    color: #111111;
                }
            }

            .activeLink {
                color: #303030 !important;
                font-weight: 800;
                position: relative;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                gap: 8px;
                transition: 0.8s ease-out;

                &::after {
                    content: '';
                    width: 4cqb;
                    height: 6px;
                    position: absolute;
                    bottom: -8px;
                    z-index: 2;
                    border-bottom: 4px #202020 dotted;
                    opacity: 0;
                    /* Initialiser l'opacité à 0 */
                    animation: bounce 6s infinite ease-in-out, fadeIn 8s infinite;
                    /* Animation pour le rebond et l'opacité */
                }

                &::after:nth-child(1) {
                    animation-delay: 0.1s;
                    /* Délai pour le premier point */
                }

                &::after:nth-child(2) {
                    animation-delay: 0.2s;
                    /* Délai pour le deuxième point */
                }

                &::after:nth-child(3) {
                    animation-delay: 0.3s;
                    /* Délai pour le troisième point */
                }

                /* Ajoutez plus de sélecteurs pour plus de points avec des délais différents */

                @keyframes bounce {

                    0%,
                    20%,
                    50%,
                    80%,
                    100% {
                        transform: translateY(0);
                    }

                    40% {
                        transform: translateY(-6px);
                        /* Déplacez le point vers le haut */
                    }

                    60% {
                        transform: translateY(-4px);
                        /* Déplacez le point vers le haut */
                    }
                }

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                        /* Commencez avec une opacité de 0 */
                    }

                    100% {
                        opacity: 1;
                        /* Augmentez l'opacité à 1 */
                    }
                }
            }






        }
    }
}

// Windows scroll Nav
.scrollNavbar {
    width: 100%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: hsla(224, 92%, 20%, 0);
    position: fixed;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 100;
    transition: all 0.4s ease-in-out;
    border-top: 3px #d7c378 solid;

    .logo {
        position: absolute;
        margin: auto;
        bottom: -34px;
        height: 55%;
    }

    .container {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        position: relative;
        align-items: center;
        border-bottom: 1px #B1B1B1 solid;

        .linkContainer {
            display: flex;
            align-items: center;
            gap: 24px;
            height: 100%;

            .link {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 0.92rem;
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                padding-left: 10px;
                padding-right: 10px;

                &:hover {
                    color: #c40812;
                    font-weight: 800;
                }
            }

            .activeLink {
                color: #c40812 !important;
                font-weight: 600;
                position: relative;
                display: flex !important;
                align-items: center !important;
                justify-content: flex-start !important;
                gap: 8px;
                transition: 0.8s ease-out;

                &::after {
                    content: '';
                    width: 2cqb;
                    height: 2px;
                    position: absolute;
                    bottom: -8px;
                    /* left: 0px; */
                    z-index: 2;
                    border-bottom: 4px #c40812 dotted;
                }
            }

        }
    }
}


// Initial Nav
// .initialNavbar{
//     width: 100%;
//     position: relative;
//     right: 0;
//     top: 0;
//     height: 75px;
//     z-index: 10;
//     transition: all 0.13s ease-in-out;
//     // background-color: #022366;
//     border-top: 4px #d7c378 solid;
//     .container{
//         width: 85%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         margin: auto;
//         position: relative;
//         align-items: center;
//         border-bottom: 1px #B1B1B1 solid;
//         .logo{
//             position: absolute;
//             margin: auto;
//             bottom: -39px;
//             height: 80%;
//         }
//         .linkContainer{
//             display: flex;
//             align-items: center;
//             gap: 24px;
//             height: 100%;
//             .link{
//                 font-family: 'Montserrat';
//                 font-weight: 600;
//                 font-size: 0.92rem;
//                 text-decoration: none;
//                 text-transform: uppercase;
//                 color: rgb(255, 255, 255);
//                 padding-left: 10px;
//                 padding-right: 10px;
//                 &:hover{
//                     font-weight: 800;
//                     color: #8a8a8a;
//                 }
//             }
//             .activeLink{
//                 color: #ffffff !important;
//                 font-weight: 800;
//                 position: relative;
//                 display: flex !important;
//                 align-items: center !important;
//                 justify-content: flex-start !important;
//                 gap: 8px;
//                 transition: 0.8s ease-out;
//                 &::after{
//                     content: '';
//                     width: 4cqb;
//                     height: 2px;
//                     position: absolute;
//                     bottom: -8px ;
//                     /* left: 0px; */
//                     z-index: 2;
//                     border-bottom: 4px #991313 dotted ;
//                 }
//             }

//         }
//     }
// }